<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.w3school.com.cn"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.w3school.com.cn beans.xsd">

    <properties>
        <property name="basePackage" value="com.zerox.demo"/>
    </properties>

    <bean name="p1" class="com.zerox.base.common.Person">
        <property name="name" value="Awoo"/>
        <property name="age" value="123"/>
    </bean>



    <!--<bean name="B" class="edu.jyu.bean.B">-->
        <!--<property name="age" value="13"></property>-->
    <!--</bean>-->
</beans>